<p>lazy works!</p>
<div class="container">

    <div appCustom [number1]="personNumber" >
            <h1>{{personNumber}}</h1>
    </div>

    
</div>


<!-- <app-user [dataFromLazy]="lazyData" >

</app-user> -->

<!-- <ng-content></ng-content> -->

<!-- <app-user (sendToLazy)="getDataFromUser($event)"  >
</app-user>
<div *ngFor="let user of info" >
    <h3>{{user.age}}</h3>
</div>

<div *ngFor="let us of info" >
    <h2>{{us.text}}</h2>
</div> -->





<!-- <app-user (sendInfo)="getInfoFromUser($event)" >
            
    <div *ngFor="let us of userInfo" >
        <div appCustom [number1]="us.age">
            <h2>{{us.age}}</h2>
        </div>
    </div>

    <div *ngFor="let person of userInfo" >
        <div appSecCustom [titleLength]="person.title" >
            <h2>{{person.title}}</h2>
        </div>
    </div>

</app-user> -->