.main {
    width: 100%;
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
   
}

.btn {
    width: 10%;
    
   
}

.ngColorClass {
    color: white;
    background-color: blue;
    padding: 10px;
}